resources:

- name: {{ properties["classification"] }}-{{ properties["environment"] }}-{{ properties["release"] }}-instance-nfs
  type: compute.v1.instance
  properties:
    zone: europe-west1-b
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/europe-west1-b/machineTypes/e2-medium
    serviceAccounts:
      - email: {{ properties["serviceAccount"] }}
        scopes:
          - https://www.googleapis.com/auth/cloud-platform
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-11
      labels:
        product: {{ properties["classification"] }}-{{ properties["release"] }}-pheweb-nfs
      diskSizeGb: {{ properties["nfsDiskSizeGb"]}}

    networkInterfaces:
    - subnetwork: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/regions/europe-west1/subnetworks/default
      accessConfigs:
      - name: External NAT
        networkTier: PREMIUM
        type: ONE_TO_ONE_NAT
      network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
{% if "ipAddress" in properties %}
      networkIP: {{  properties["ipAddress"] }}
{% endif %}
    startRestricted: false
    labels:
      product: {{ properties["classification"] }}-{{ properties["release"] }}-pheweb-nfs
